extends layout

block content

  .create-program-wrapper
    .exercises-wrapper.row
      - var sets, reps, rest;
      script(type='text/javascript').
        var exercisesArray = !{JSON.stringify(exercises)};

      h3 You chose <span class="special-word">#{selectedGoal}</span>
      if (selectedGoal === 'muscle')
        p Building muscle is best done with moderate resting periods and semi-long to long sets.
        script.
          sets = "3-4";
          reps = "6-12";
          rest = "90s";
      if (selectedGoal === 'strength')
        p Strength is best trained by short sets with long resting periods between sets.
        script.
          sets = "4-5";
          reps = "4-6";
          rest = "120s";
      if (selectedGoal === 'weight loss')
        p Losing weight is best achieved with long sets and short resting periods.
        script.
          sets = "3-4";
          reps = "8-15";
          rest = "60s";


      // Populate arrays for each exercise type
      //script.
      //  legs = [];
      //  for (var i = 0; i < exercisesArray.length; i++) {
      //    if (exercisesArray[i].type === 'legs') {
      //      console.log(exercisesArray[i]);
      //      //legs.push(e);
      //    }
      //  }




      h3 Select exercises
      .exercise.clearfix
        .exc-label.col-lg-2.col-lg-offset-3
          .pull-right Legs:
        .exc-selection.col-lg-3
          select.selectpicker(title="Select exercise...")
            each exercise, i in exercises
              - if (exercise.type === 'legs')
                option(value=i) #{exercise.title}


      .exercise.clearfix
        .exc-label.col-lg-2.col-lg-offset-3
          .pull-right Back:
        .exc-selection.col-lg-3
          select.selectpicker(title="Select exercise...")
            each exercise, i in exercises
              - if (exercise.type === 'back')
                option(value=i) #{exercise.title}

      .exercise.clearfix
        .exc-label.col-lg-2.col-lg-offset-3
          .pull-right Chest:
        .exc-selection.col-lg-3
          select.selectpicker(title="Select exercise...")
            each exercise, i in exercises
              - if (exercise.type === 'chest')
                option(value=i) #{exercise.title}

      .exercise.clearfix
        .exc-label.col-lg-2.col-lg-offset-3
          .pull-right Shoulders:
        .exc-selection.col-lg-3
          select.selectpicker(title="Select exercise...")
            each exercise, i in exercises
              - if (exercise.type === 'shoulders')
                option(value=i) #{exercise.title}

      .exercise.clearfix
        .exc-label.col-lg-2.col-lg-offset-3
          .pull-right Core:
        .exc-selection.col-lg-3
          select.selectpicker(title="Select exercise...")
            each exercise, i in exercises
              - if (exercise.type === 'core')
                option(value=i) #{exercise.title}

      button.btn.btn-default(onclick="checkAndPostExercises()") Create


