extends layout

block content
  .create-program-wrapper
    .exercises-wrapper.row
      h3 You chose <span class="special-word">#{selectedGoal}</span>
      if (selectedGoal === 'muscle')
        p Building muscle is best done with moderate resting periods and semi-long to long sets.
      if (selectedGoal === 'strength')
        p Strength is best trained by short sets with long resting periods between sets.
      if (selectedGoal === 'weight loss')
        p Losing weight is best achieved with long sets and short resting periods.


      h3 Select exercises
      - var exercises = ["Squat", "Leg Press", "Leg Extension"];

      .exercise.clearfix
        .exc-label.col-lg-2.col-lg-offset-3
          .pull-right Legs:
        .exc-selection.col-lg-3
          select.selectpicker(title="Select exercise...")
            each exercise, i in exercises
              option(value=i) #{exercise}

      .exercise.clearfix
        .exc-label.col-lg-2.col-lg-offset-3
          .pull-right Back:
        .exc-selection.col-lg-3
          select.selectpicker(title="Select exercise...")
            each exercise, i in exercises
              option(value=i) #{exercise}

      .exercise.clearfix
        .exc-label.col-lg-2.col-lg-offset-3
          .pull-right Chest:
        .exc-selection.col-lg-3
          select.selectpicker(title="Select exercise...")
            each exercise, i in exercises
              option(value=i) #{exercise}

      .exercise.clearfix
        .exc-label.col-lg-2.col-lg-offset-3
          .pull-right Shoulders:
        .exc-selection.col-lg-3
          select.selectpicker(title="Select exercise...")
            each exercise, i in exercises
              option(value=i) #{exercise}

      .exercise.clearfix
        .exc-label.col-lg-2.col-lg-offset-3
          .pull-right Core:
        .exc-selection.col-lg-3
          select.selectpicker(title="Select exercise...")
            each exercise, i in exercises
              option(value=i) #{exercise}

      button.btn.btn-default(onclick="checkAndPostExercises()") Create


