extends layout

block content

  .create-program-wrapper
    .exercises-wrapper.row
      - var sets, reps, rest;
      - var exercisesArray;
      script(type='text/javascript').
        exercisesArray = !{JSON.stringify(exercises)};
        //console.log(exercisesArray);

      h3 You chose <span class="special-word">#{selectedGoal}</span>
      if (selectedGoal === 'muscle')
        p Building muscle is best done with moderate resting periods and semi-long to long sets.
      if (selectedGoal === 'strength')
        p Strength is best trained by short sets with long resting periods between sets.
      if (selectedGoal === 'weight loss')
        p Losing weight is best achieved with long sets and short resting periods.

      h3 Select exercises

      form(name="exerciseForm", class="form-horizontal", method="POST", action="/create-2", enctype="application/x-www-form-urlencoded")

        .form-group
          label(for="legs", class="control-label col-sm-2 col-lg-offset-3") Legs:
          .col-sm-10.col-lg-3
            select(name="legs", id="legs", class="form-control")
              each exercise, e in exercises
                - if (exercise.type === 'legs')
                  option(value="#{JSON.stringify(exercise)}") #{exercise.title}

        .form-group
          label(for="back", class="control-label col-sm-2 col-lg-offset-3") Back:
          .col-sm-10.col-lg-3
            select(name="back", id=back, class="form-control")
              each exercise, e in exercises
                - if (exercise.type === 'back')
                  option(value=value="#{JSON.stringify(exercise)}") #{exercise.title}

        .form-group
          label(for="chest", class="control-label col-sm-2 col-lg-offset-3") Chest:
          .col-sm-10.col-lg-3
            select(name="chest", id=chest, class="form-control")
              each exercise, e in exercises
                - if (exercise.type === 'chest')
                  option(value=value="#{JSON.stringify(exercise)}") #{exercise.title}

        .form-group
          label(for="shoulders", class="control-label col-sm-2 col-lg-offset-3") Shoulders:
          .col-sm-10.col-lg-3
            select(name="shoulders", id=shoulders, class="form-control")
              each exercise, e in exercises
                - if (exercise.type === 'shoulders')
                  option(value=value="#{JSON.stringify(exercise)}") #{exercise.title}

        .form-group
          label(for="core", class="control-label col-sm-2 col-lg-offset-3") Core:
          .col-sm-10.col-lg-3
            select(name="core", id=core, class="form-control")
              each exercise, e in exercises
                - if (exercise.type === 'core')
                  option(value=value="#{JSON.stringify(exercise)}") #{exercise.title}

        input(type="hidden", value="#{selectedGoal}", name="goal")


        .form-group
          .col-lg-offset-5.col-sm-10.col-lg-1
            button(type="submit", class="btn btn-default") Create program



