extends layout

block content
  .program-table-wrapper.row
    h3 All done! Here's your program
    p #{program}

    .program-table
      table.table
        thead
          th Exercise
          th Sets
          th Reps
          th Rest

        tbody
          //td #{program.legs}
          //td #{program.sets}
          //td #{program.reps}
          //td #{program.rest}

