extends layout

block content
  .profile-wrapper.clearfix

    h3 Hello <span class="special-word">#{user.firstName}</span>!

    .col-sm-12
      .info-wrapper
        p.info-paragraph
          | Here is your account information. You can update it by changing the values and hitting submit.
          | Password is changed by inputting the new password on both 'new password' and 'confirm pw' fields.

      form(name="personalInfo", class="form-horizontal", method="POST", action="/user/update-info", enctype="application/x-www-form-urlencoded")
        .form-group
          label(for="firstname", class="control-label col-sm-4") First name:
          .col-sm-7
            input(name="firstname", type="text", id=firstname, class="form-control" value="#{user.firstName}")

        .form-group
          label(for="lastname", class="control-label col-sm-4") Last name:
          .col-sm-7
            input(name="lastname", type="text", id=lastname, class="form-control" value="#{user.lastName}")

        .form-group
          label(for="email", class="control-label col-sm-4") E-mail:
          .col-sm-7
            input(name="email", type="email", id=email, class="form-control" value="#{user.email}")

        .form-group
          label(for="newpassword", class="control-label col-sm-4") New password:
          .col-sm-7
            input(name="newpassword", type="password", id=newpassword, class="form-control")

        .form-group
          label(for="pwconfirm", class="control-label col-sm-4") Confirm PW:
          .col-sm-7
            input(name="pwconfirm", type="password", id=pwconfirm, class="form-control")

        .form-group
          .col-sm-offset-4.col-sm-9
            button(type="submit", class="btn btn-default") Submit

      .message-area
        if (emailError)
          span(class="alert alert-danger") #{emailError}

        if (passwordError)
          span(class="alert alert-danger") #{passwordError}

        if (updateInfoSuccess)
          span(class="alert alert-success") #{updateInfoSuccess}




