extends layout

block content
  .programs-wrapper
    h3 Programs
    if (hasPrograms === 'false')
      .programs-heading-section
        h4.current-programs You don't have any programs yet
        a(href="/create").btn.btn-default Create
    else
      .programs-heading-section
        h4.current-programs You have <span class="special-word">#{allprograms.length}</span> programs.
        a(href="/create").btn.btn-default Create
      .program-tables-wrapper


        // Loop through all programs and populate a table for them
        - each program, i in allprograms
          .program-wrapper
            h4.program-table-goal #{i+1}. #{program.goal}

            button(type="submit" form="#{program._id}-form").btn.btn-danger.btn-delete Delete
            table.table
              thead
                th Exercise
                th Sets
                th Reps
                th Rest
              tbody
                tr
                  td #{program.legs}
                  td #{program.sets}
                  td #{program.reps}
                  td #{program.rest}
                tr
                  td #{program.back}
                  td #{program.sets}
                  td #{program.reps}
                  td #{program.rest}
                tr
                  td #{program.chest}
                  td #{program.sets}
                  td #{program.reps}
                  td #{program.rest}
                tr
                  td #{program.shoulders}
                  td #{program.sets}
                  td #{program.reps}
                  td #{program.rest}
                tr
                  td #{program.core}
                  td #{program.sets}
                  td #{program.reps}
                  td #{program.rest}

              form( id="#{program._id}-form" name="deleteProgram", method="POST", action="/programs/delete/#{program._id}", enctype="application/x-www-form-urlencoded")

              input(type="hidden", value=program._id)
        h4.create-new #[a(href="/create") Create] new program


