extends layout

script.
  function deleteProgram(progId) {
    alert(progId);
  }



block content
  .programs-wrapper

    if (hasPrograms === 'false')
      h4 You don't have any programs yet
      a(href="/create").btn.btn-default Create
    else
      h3 Programs

      .program-tables-wrapper

        - each program, i in allprograms
          .program-wrapper
            h4.program-table-goal #{program.goal}
            table.table
              thead
                th Exercise
                th Sets
                th Reps
                th Rest
              tbody
                tr
                  td #{program.legs}
                  td #{program.sets}
                  td #{program.reps}
                  td #{program.rest}
                tr
                  td #{program.back}
                  td #{program.sets}
                  td #{program.reps}
                  td #{program.rest}
                tr
                  td #{program.chest}
                  td #{program.sets}
                  td #{program.reps}
                  td #{program.rest}
                tr
                  td #{program.shoulders}
                  td #{program.sets}
                  td #{program.reps}
                  td #{program.rest}
                tr
                  td #{program.core}
                  td #{program.sets}
                  td #{program.reps}
                  td #{program.rest}

            form(name="deleteProgram", method="POST", action="/programs/delete/#{program._id}", enctype="application/x-www-form-urlencoded")
              button(type="submit").btn.btn-danger Delete
              //input(type="hidden", value=program._id)
      h4 Create new program
      a(href="/create").btn.btn-default Create

