extends layout

block content
  .register-wrapper
    h4.bldr-h4 Fill out the information and you're ready to start using Bldr.

    form(name="signup", class="form-horizontal", method="POST", action="/signup", enctype="application/x-www-form-urlencoded")

      .form-group
        label(for="firstname", class="control-label col-sm-3") First name:
        .col-sm-9
          input(name="firstname", type="text", id=firstname, class="form-control")

      .form-group
        label(for="lastname", class="control-label col-sm-3") Last name:
        .col-sm-9
          input(name="lastname", type="text", id=lastname, class="form-control")

      .form-group
        label(for="email", class="control-label col-sm-3") * E-mail:
        .col-sm-9
          input(name="email", type="email", id=email, class="form-control" required)

      .form-group
        label(for="password", class="control-label col-sm-3") * Password:
        .col-sm-9
          input(name="password", type="password", id=password, class="form-control" required)

      .form-group
        label(for="pwconfirm", class="control-label col-sm-3") * Confirm PW:
        .col-sm-9
          input(name="pwconfirm", type="password", id=pwconfirm, class="form-control" required)

      .form-group
        .col-sm-offset-3.col-sm-9
          button(type="submit", class="btn btn-default") Register

      | * = required field

    .error-message-area
      if (error)
        span(class="alert alert-danger") #{error}
